version: '3.8'

services:
  # 1. Ingest Engine
  srs:
    image: ossrs/srs:4
    container_name: srs_node
    ports:
      - "1935:1935" # RTMP Ingest
      # - "8080:8080" # Built-in HTTP (We use Nginx instead)
    volumes:
      - ./src/srs/srs.conf:/usr/local/srs/conf/srs.conf
      - live_data:/usr/local/srs/objs/nginx/html # Shared Volume
    command: ["./objs/srs", "-c", "conf/srs.conf"]
    networks:
      - streaming-net

  # 2. Delivery Edge
  nginx:
    image: nginx:alpine
    container_name: nginx_edge
    ports:
      - "80:80" # HTTP Playback
    volumes:
      - ./src/nginx/nginx.conf:/etc/nginx/nginx.conf
      - live_data:/usr/share/nginx/html # Read Shared Volume
    networks:
      - streaming-net
    environment:
      - NODE_ID=${NODE_ID}

  # 3. Backup Agent
  sidecar:
    build: ./src/sidecar
    container_name: backup_sidecar
    volumes:
      - live_data:/data/live # Read Shared Volume
    environment:
      - NODE_ID=${NODE_ID}
      - S3_BUCKET=${S3_BUCKET}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - S3_ENDPOINT=${S3_ENDPOINT}
    networks:
      - streaming-net

volumes:
  live_data:

networks:
  streaming-net:
